.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list__item {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 28px;
}

.button {
  padding: 17px 34px;
  font-size: 18px;
  line-height: 26px;
  font-family: $black-font;
  letter-spacing: 0.2px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $theme-color;
  border: 0;
  border-radius: 100px;
  outline: 0;
  white-space: nowrap;

  &:hover {
    background-color: darken($theme-color, 5%);
    cursor: pointer;
  }

  &:focus,
  &:active {
    background-color: darken($theme-color, 10%);
  }

  &--to-top {
    width: auto;
    height: 56px;
    padding-right: 76px;
    padding-left: 0;
    background-color: transparent;
    background-image: url("../img/to-top.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 55px 55px;

    &:hover,
    &:focus {
      background-color: transparent;
      opacity: 0.9;
    }

    &:active {
      background-color: transparent;
      opacity: 0.8;
    }
  }
}

.unbutton {
  margin: 0;
  padding: 0;
  font-family: $basic-font;
  text-align: left;
  background: transparent;
  box-shadow: none;
  text-shadow: none;
  border: 0;
  border-radius: 0;
  outline: 0;

  &--close {
    position: absolute;
    display: block;
    top: -42px;
    right: 0;
    width: 25px;
    height: 26px;
    background-image: url("../img/icon-cross.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    &:focus,
    &:active {
      opacity: 0.6;
    }
  }
}

.button__icon {
  display: none;
}

.headline {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 46px;
  font-family: $black-font;
  letter-spacing: 0.3px;
  color: $headline-color;
  text-transform: uppercase;
  text-align: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 21px;
    height: 46px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &::before {
    left: -42px;
    background-image: url("../img/icon-curl-left.svg");
  }

  &::after {
    right: -42px;
    background-image: url("../img/icon-curl-right.svg");
  }
}

.popup {
  position: relative;
  max-width: 590px;
  margin: auto;
  padding: 85px 80px;
  text-align: center;
  background-color: #ffffff;
}

.popup__close {
  position: absolute;
  display: block;
  top: -42px;
  right: 0;
  width: 25px;
  height: 26px;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &:focus,
  &:active {
    opacity: 0.6;
  }
}

.popup__headline {
  margin-bottom: 38px;
}

.popup__strong {
  display: block;
  margin-bottom: 27px;
  font-size: 28px;
  line-height: 30px;
  font-family: $bold-font;
  color: $text-color;
}

.popup__text {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 30px;
  color: $text-color;
}

.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form__block {
  width: 368px;
}

.form__block,
.form__group {
  position: relative;
}

.form__input {
  margin-bottom: 23px;
  text-align: center;
}

.form__message {
  height: 100%;
  min-height: 160px;
  max-height: 100%;
  text-align: left;
}

.form__upload-text {
  display: block;
  padding: 17px 34px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ffffff;
  font-family: $black-font;
  text-transform: uppercase;
  text-align: center;
  background-color: $theme-color;
  border-radius: 100px;

  &:hover {
    background-color: darken($theme-color, 5%);
    cursor: pointer;
  }
}

.form__upload:focus ~ .form__upload-text {
  background-color: darken($theme-color, 5%);
}

.form__upload:active ~ .form__upload-text {
  background-color: darken($theme-color, 10%);
}

.form__input,
.form__message {
  width: 100%;
  max-width: 100%;
  padding: 19px 19px 17px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  font-family: $semibold-font;
  color: $accent-color;
  background-color: transparent;
  border: 2px solid $accent-color;
  border-radius: 5px;
  z-index: 2;

  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:focus {
    outline: 0;
  }
}

.form__input:required:valid:not(:focus):not(:placeholder-shown),
.form__message:required:valid:not(:focus):not(:placeholder-shown) {
  padding-right: 15%;
  border-color: #7dad65;
  background-image: url("../img/happy-face-dark.svg");
  background-repeat: no-repeat;
  background-position: 95% 19px;
  background-size: 22px;
  text-overflow: ellipsis;
}

.form__input:required:invalid:not(:focus):not(:placeholder-shown),
.form__message:required:invalid:not(:focus):not(:placeholder-shown) {
  padding-right: 15%;
  padding-left: 15%;
  border-color: #da3434;
  background-image: url("../img/sad-face-dark.svg");
  background-repeat: no-repeat;
  background-position: 95% 19px;
  background-size: 22px;
  text-overflow: ellipsis;
}

.form__input:required:valid:not(:focus):not(:placeholder-shown),
.form__input:required:invalid:not(:focus):not(:placeholder-shown) {
  padding-left: 15%;
}

.form__label {
  position: absolute;
  top: 19px;
  left: 0;
  right: 0;
  letter-spacing: 0.5px;
  font-family: $semibold-font;
  color: $accent-color;
  user-select: none;
  z-index: 1;
  transition: all 0.1s ease-out;
}

.form__input:focus ~ label,
.form__message:focus ~ label {
  top: 0;
  font-size: 10px;
}

.form__input:focus ~ label > span,
.form__message:focus ~ label > span {
  display: none;
}

.form__input:not([value=""]):not(:focus) ~ label,
.form__input:not(:focus):not(:placeholder-shown) ~ label,
.form__message:not([value=""]):not(:focus) ~ label,
.form__message:not(:focus):not(:placeholder-shown) ~ label {
  display: none;
}

@media all and (-ms-high-contrast: none),
              (-ms-high-contrast: active) {
  .form__label {
    top: 2px;
    font-size: 14px;
    color: #a0a0a0;
  }
}

.form__group--rating {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form__group--rating > span {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.2px;
  font-family: $semibold-font;
}

.form__submit {
  width: 100%;
  max-width: 368px;
  margin-top: 25px;
  background-color: $accent-color;

  &:hover {
    background-color: $theme-color;
  }

  &:focus,
  &:active {
    background-color: darken($theme-color, 5%);
  }
}

////// r e s p o n s i v e //////


@media (max-width: 1199px) {
  .headline {
    font-size: 26px;
    line-height: 34px;

    &::before,
    &::after {
      height: 34px;
    }
  }
}

@media (max-width: 991px) {
  .headline {
    font-size: 24px;
    line-height: 32px;

    &::before,
    &::after {
      height: 32px;
    }
  }

  .form__block {
    width: 300px;
  }

  .form__submit {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .headline {
    font-size: 22px;
    line-height: 30px;

    &::before {
      left: -30px;
      height: 30px;
    }

    &::after {
      right: -30px;
      height: 30px;
    }
  }

  .button:not(.button--to-top) {
    padding: 13px 30px;
    font-size: 16px;
  }

  .form {
    justify-content: space-around;
  }

  .form__block {
    width: 100%;
    max-width: 399px;
  }

  .form__group--rating {
    margin-bottom: 20px;
  }
}

@media (max-width: 699px) {
  .form {
    width: 100%;
  }

  .button__text {
    display: none;
  }

  .button__icon {
    display: block;
  }
}

@media (max-width: 599px) {
  .popup {
    max-width: 90%;
  }
}
