body {
  width: 100%;
  min-width: 320px;
  height: 100%;
  font-family: "Helvetica", sans-serif;
  color: #171d2a;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

b {
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

*::before,
*::after {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.unbutton {
  margin: 0;
  padding: 0;
  box-shadow: none;
  text-shadow: none;
  border: 0;
  outline: 0;
}
