////// c o l o u r s //////

$theme-color: #df5435;
$text-color: #182138;
$accent-color: #232639;
$headline-color: #171d2a;

////// f o n t s //////

$basic-font: "Glober", "Helvetica", sans-serif;
$semibold-font: "Glober Semibold", "Helvetica", sans-serif;
$bold-font: "Glober Bold", "Helvetica", sans-serif;
$black-font: "Glober Black", "Helvetica", sans-serif;

////// r e t i n a //////

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
