.bottom {
  background-color: #ffffff;
}

.bottom__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100px;
  min-height: 100px;
}

.bottom__logo {
  width: 265px;
  height: auto;
}

.bottom__social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.bottom__text {
  margin-right: 41px;
  font-size: 20px;
  line-height: 41px;
  font-family: $bold-font;
  letter-spacing: 0.2px;
  color: #232639;
}

////// r e s p o n s i v e //////

@media (max-width: 699px) {
  .bottom__container,
  .bottom__social {
    justify-content: space-around;
  }

  .bottom__container > * {
    margin: 12px 10px;
  }

  .bottom__text {
    margin-right: 22px;
    font-size: 16px;
  }
}

@media (max-width: 420px) {
  .bottom__text {
    display: none;
  }
}
