.city-select {
  display: inline-block;
  width: auto;
  padding-right: 21px;
  background-image: url("../img/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 13px 9px;
}

.city-select__dropdown {
  font-size: 16px;
  line-height: 24px;
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 3px solid;
  border-image: url("../img/city-select-border.svg");
  border-image-slice: 3;
  outline: none;
  appearance: none;
}
