.current {
  width: 600px;
  text-align: center;

  &--sale {
    flex-grow: 0;
    margin-right: auto;
  }
}

.current__body {
  position: relative;
  height: 663px;
  background-image: url("../img/index-promo-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
    background-image: url("../img/index-promo-bg@2x.jpg")
  }
}

.current--sale__body {
  background-size: contain;
}

.current__info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 58px 135px;
  background-color: #182138;
}

.current--sale__info {
  background-color: #ffffff;
}

.current__text {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-family: $semibold-font;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.current--sale__text {
  color: $text-color;
}

.current__book {
  margin-top: 36px;
  padding: 16px 42px;
  font-size: 16px;
  line-height: 24px;
  color: $text-color;
  background-color: #ffffff;

  &:hover,
  &:focus,
  &:active {
    color: #ffffff;
  }
}

.current--sale__book {
  color: #ffffff;
  background-color: $theme-color;

  &:hover,
  &:focus {
    background-color: darken($theme-color, 3%);
  }

  &:active {
    background-color: darken($theme-color, 6%);
  }
}

////// r e s p o n s i v e //////

@media (max-width: 1199px) {
  .current {
    flex-basis: auto;
    width: 300px;
    margin-right: 40px;
    flex-grow: 1;

    &--sale {
      flex-grow: 0;
      margin-right: auto;
    }
  }

  .current__info {
    padding: 50px 85px;
  }
}

@media (max-width: 991px) {
  .current__info {
    padding: 50px 70px;
  }
}

@media (max-width: 768px) {
  .current__info {
    padding: 50px 24px;
  }

  .current--sale__body {
    height: 525px;
  }
}

@media (max-width: 699px) {
  .current {
    width: 100%;
    margin-right: 0;

    &--sale {
      flex-grow: 0;
      margin-right: auto;
    }
  }

  .current__body {
    height: 430px;
    background-position: center -30px;
    background-size: cover;
  }

  .current--sale__body {
    background-size: contain;
  }

  .current__info {
    padding: 34px 24px;
  }

  .current__book {
    margin-top: 26px;
  }
}
