.footer {
  padding-top: 12px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__block {
  width: 200px;
  margin-top: 30px;
  padding-right: 30px;

  &:last-of-type {
    padding-right: 0;
  }
}

.footer__headline {
  margin: 0 0 20px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-family: $bold-font;
  color: #232639;
  text-align: left;
}

.footer__item {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer__link {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #232639;

  &:hover {
    color: $theme-color;
  }

  &:focus,
  &:active {
    color: darken($theme-color, 5%);
  }
}

////// r e s p o n s i v e //////

@media (max-width: 699px) {
  .footer__container {
    justify-content: space-around;
  }

  .footer__block {
    padding-right: 5px;
    padding-left: 5px;

    &--service {
      display: none;
    }
  }
}

@media (max-width: 499px) {
  .footer__block {
    width: 150px;
  }

  .footer__link {
    font-size: 16px;
  }
}

@media (max-width: 499px) {
  .footer__block {
    width: 100%;
  }
}
