.intro {
  width: 100%;
  height: 699px;
  background-image: url("../img/index-intro-rectangle.svg"), url("../img/index-intro-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: 0 0, center;

  @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
    background-image: url("../img/index-intro-rectangle.svg"), url("../img/index-intro-bg@2x.jpg");
  }

  &--inner {
    height: 554px;
    background-image: url("../img/inner-intro-rectangle.svg"), url("../img/job-intro-bg.jpg");
    background-position: -645px, center;
    background-size: cover, cover;

    @media (min-resolution: $retina-dpi),
          (min-resolution: $retina-dppx) {
      background-image: url("../img/inner-intro-rectangle.svg"), url("../img/job-intro-bg@2x.jpg");
    }
  }
}

.intro__container {
  max-width: 350px;
}

.intro--inner__container {
  max-width: 573px;
}

.intro__headline {
  position: relative;
  display: block;
  margin-bottom: 84px;
  padding-top: 94px;
  font-size: 68px;
  line-height: 90px;
  font-family: $black-font;

  &::after {
    content: "";
    position: absolute;
    bottom: -37px;
    left: 0;
    width: 100px;
    height: 3px;
    background-color: $theme-color;
  }
}

.intro--inner__headline {
  margin-bottom: 91px;
  padding-top: 130px;
  font-size: 48px;
  line-height: 60px;

  &::after {
    bottom: -42px;
    width: 150px;
    height: 5px;
  }
}

.intro__subline {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-family: $semibold-font;
}

.intro--inner__subline {
  font-size: 22px;
}

.intro__subline > span {
  font-size: 24px;
  line-height: 36px;
  font-family: $bold-font;
  letter-spacing: 0.3px;
}

.intro__book {
  margin-top: 33px;
}

////// r e s p o n s i v e //////

@media (max-width: 1699px) {
  .intro {
    background-position: -200px 0, center;

    &--inner {
      background-position: -600px 0, center;
    }
  }
}

@media (max-width: 1399px) {
  .intro {
    background-position: -320px 0, center;

    &--inner {
      background-position: -510px 0, center;
    }
  }
}

@media (max-width: 1199px) {
  .intro--inner__container {
    max-width: 450px;
  }
}

@media (max-width: 991px) {
  .intro {
    background-position: -410px 0, center;
    background-size: cover, cover;

    &--inner {
      background-image: url("../img/inner-intro-rectangle.svg"), url("../img/job-intro-bg-small-desktop.jpg");
      background-position: -520px, 80% 0;

      @media (min-resolution: $retina-dpi),
            (min-resolution: $retina-dppx) {
        background-image: url("../img/inner-intro-rectangle.svg"),  url("../img/job-intro-bg-small-desktop@2x.jpg");
      }
    }
  }

  .intro--inner__container {
    max-width: 380px;
  }

  .intro--inner__headline {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 768px) {
  .intro {
    background-position: -560px 0, 55% 0;

    &--inner {
      background-position: -630px 0, 74% 0;
    }
  }

  .intro__container {
    max-width: 300px;
  }

  .intro--inner__container {
    max-width: 350px;
  }

  .intro__headline {
    margin-bottom: 78px;
    font-size: 48px;
    line-height: 66px;
  }

  .intro--inner__headline {
    padding-top: 96px;
    font-size: 40px;
    line-height: 50px;
  }

  .intro__book {
    margin-top: 16px;
    padding: 12px 26px;
    font-size: 16px;
  }
}

@media (max-width: 499px) {
  .intro {
    height: auto;
    background-image: url("../img/index-intro-rectangle.svg"), url("../img/index-intro-bg-small-desktop.jpg");
    background-position: center, 55% 0;
    background-size: 250%, cover;

    @media (min-resolution: $retina-dpi),
          (min-resolution: $retina-dppx) {
      background-image: url("../img/index-intro-rectangle.svg"), url("../img/index-intro-bg-small-desktop@2x.jpg");
    }

    &--inner {
      background-image: url("../img/inner-intro-rectangle.svg"), url("../img/job-intro-bg-small-desktop.jpg");
      background-position: center, 73% 0;
      background-size: 300%, cover;

      @media (min-resolution: $retina-dpi),
            (min-resolution: $retina-dppx) {
        background-image: url("../img/inner-intro-rectangle.svg"),  url("../img/job-intro-bg-small-desktop@2x.jpg");
      }
    }
  }

  .intro--inner__container {
    max-width: 100%;
  }

  .intro__headline {
    padding-top: 24px;
  }

  .intro__book {
    margin-bottom: 50px;
  }

  .intro--inner__subline {
    padding-bottom: 50px;
  }
}
