.price {
  padding-top: 95px;
  padding-bottom: 118px;
  text-align: center;
  background-color: $theme-color;
  background-image: url("../img/index-woman-head.svg");
  background-repeat: no-repeat;
  background-position: 95% 203px;
  background-size: 417px 706px;

  &--page {
    text-align: left;
    background-image: none;
  }
}

.price__headline {
  margin-bottom: 51px;
  color: #ffffff;
}

.price__headline::before,
.price__headline::after {
  display: none;
}

.price__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.price__block {
  flex-basis: auto;
  width: 368px;
  margin-bottom: 30px;
  padding: 50px 45px;
  background-color: #ffffff;

  &:last-child {
    margin-bottom: 0;
  }
}

.price--page__block {
  text-align: center;
}

.price__service-name {
  margin-bottom: 30px;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-transform: none;

  &::before {
    left: -30px;
    height: 24px;
  }

  &::after {
    right: -30px;
    height: 24px;
  }
}

.price__item {
  padding: 15px 0;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
  border-bottom: 1px solid #171d2a;

  &:last-child {
    border: 0;
  }
}

.price__link {
  position: relative;
  display: block;
  width: 100%;
  padding-right: 22px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: $headline-color;

  &:hover {
    color: $theme-color;
    cursor: pointer;
  }

  &:focus,
  &:active {
    color: darken($theme-color, 5%);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 100%;
    background-image: url("../img/icon-price-toggle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 19px 19px;
  }

  &--open {
    font-family: $bold-font;
  }

  &--open::after {
    transform: rotate(-90deg);
  }

  &--test::before {
    content: "Чтобы увидеть попап, жми сюда:";
    position: absolute;
    top: -30px;
    left: 0;
    font-size: 14px;
    color: #bbbbbb;
    background-color: #ffffff;
  }
}

.price__sublist {
  margin-top: 12px;
  margin-left: 12px;
}

.price__subitem {
  padding: 4px 0;
}

.price__sublink {
  font-size: 16px;
  color: rgba($headline-color, 0.7);

  &:hover,
  &:focus {
    color: rgba($headline-color, 0.9);
  }

  &:active {
    color: $headline-color;
  }
}

.price__popup {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 90px;
  padding-bottom: 30px;
}

.price__close {
  position: absolute;
  display: block;
  top: 38px;
  right: 0;
  width: 25px;
  height: 26px;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &:focus,
  &:active {
    opacity: 0.6;
  }
}

.price__table {
  width: 100%;
}

.price--page__table {
  padding: 33px 40px;
  background-color: #ffffff;
}

.price__details {
  flex-basis: auto;
  width: 767px;
  min-width: 599px;
  height: auto;
  padding: 34px 37px 32px 47px;
  background-color: #ffffff;
}

.price--page__details {
  padding: 0;
  background-color: transparent;
}

.price__cell {
  max-width: 83px;
  padding: 17px 0;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: $headline-color;
  text-align: center;
  vertical-align: middle;
  border-top: 1px solid $headline-color;
  border-right: 1px solid $headline-color;

  &:first-child:not(:only-child) {
    width: 80%;
    max-width: 346px;
    padding-right: 20px;
    text-align: left;
  }

  &:last-child {
    border-right: 0;
  }

  &--header {
    padding: 8px;
    line-height: 18px;
    font-family: $bold-font;
    text-align: left;
    border-top: 0;
    border-right: 1px solid $headline-color;

    &:last-child {
      border-right: 0;
    }
  }

  &--only {
    padding: 20px 0;
    font-size: 18px;
    text-align: center;
    border-top: 1px solid $headline-color;
  }

  &--options {
    padding-top: 0;
    text-align: center;
  }
}

.price__row:first-child > .price__cell--only {
  border-top: 0;
}

.price__row--no-header > .price__cell {
  border-top: 0;
}

.price__row--equal > .price__cell,
.price__row--equal > .price__cell:first-child {
  width: auto;
  max-width: 83px;
  padding-right: 0;
  padding-left: 0;
  font-size: 18px;
  text-align: center;
}

.price__row--equal > .price__cell--header,
.price__row--equal > .price__cell--header:first-child {
  padding: 0 40px 19px;
  font-size: 15px;
  vertical-align: top;
}

.price__cell > span {
  font-size: 18px;
  line-height: 24px;
}

.price__cell--attention span::after {
  content: "!";
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-left: 10px;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  text-align: center;
  background-color: $headline-color;
  border-radius: 50%;
}

.price__cell--attention span:hover::after {
  background-color: $theme-color;
  cursor: pointer;
}

.price__cell--learn-more span::after {
  content: "?";
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-left: 10px;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  text-align: center;
  background-color: $theme-color;
  border-radius: 50%;
}

.price__cell--learn-more span:hover::after {
  background-color: $headline-color;
  cursor: pointer;
}

.price__option {
  width: 146px;
  height: 56px;
  padding: 16px 42px;
  margin: 0 5px;

  &--1 {
    background-color: $theme-color;
  }

  &--2 {
    background-color: #005ca1;
  }
}

.price__table-caption {
  min-height: 78px;
  padding: 26px;
  background-color: $headline-color;
  text-align: center;
  vertical-align: middle;
}

.price__table-headline {
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  text-transform: none;

  &::before,
  &::after {
    height: 24px;
  }
}

.price__table-body {
  display: table;
  width: 100%;
}

.price__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.price__book {
  min-width: 285px;
  background-color: $headline-color;

  &:hover,
  &:focus {
    background-color: $headline-color;
    opacity: 0.9;
  }

  &:active {
    background-color: $headline-color;
    opacity: 0.8;
  }
}

#women-1-price,
#women-2-price,
#women-3-price,
#women-4-price,
#dye-1-1-price,
#dye-1-2-price,
#men-1-price,
#men-2-price,
#baby-1-price,
#nails-1-price,
#nails-2-price,
#nails-3-price,
#nails-4-price,
#other-1-price,
#other-2-price,
#other-3-price {
  display: none;
}

////// r e s p o n s i v e //////

@media (max-width: 1199px) {
  .price {
    padding-top: 70px;
    padding-bottom: 84px;
  }

  .price__headline {
    margin-bottom: 12px;
  }

  .price__body {
    justify-content: space-around;
  }

  .price__section {
    margin-top: 30px;

    &:last-of-type {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      align-items: flex-start;
    }
  }

  .price__popup,
  .price--page__body {
    height: 100%;
    padding-top: 90px;
    overflow: scroll;
  }

  .price__close {
    top: 38px;
  }

  .price__popup .price__block,
  .price--page__block {
    width: 300px;
    padding: 28px;
  }

  .price__details {
    width: 630px;
    padding: 28px;
  }

  .price--page__details {
    padding: 0;
  }

  .price__cell {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .price__cell > span {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .price__popup {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .price__popup .price__block {
    width: 368px;
    padding: 36px;
  }

  .price--page__body {
    padding-top: 32px;
  }

  .price--page__block {
    width: 368px;
  }

  .price__close {
    top: 90px;
    right: 60px;
  }
}

@media (max-width: 699px) {
  .price__popup,
  .price--page__body {
    justify-content: flex-start;
  }

  .price__close {
    top: 34px;
    left: 20px;
  }

  .price__buttons {
    flex-direction: column;
    align-items: flex-start;
  }

  .price__to-top {
    margin-top: 33px;
  }
}

@media (max-width: 768px) {
  .price__section {
    &:last-of-type {
      display: block;
      width: auto;
    }
  }
}

@media (max-width: 420px) {
  .price__block {
    width: 310px;
    padding: 40px;
  }

  .price__item {
    font-size: 16px;
  }

  .price__close {
    left: 5px;
  }
}
