.promo {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ffffff;
}

.promo__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.promo__headline {
  margin-bottom: 40px;
}

////// r e s p o n s i v e //////

@media (max-width: 1199px) {
  .promo {
    padding-top: 70px;
    padding-bottom: 85px;
  }

  .promo__headline {
    margin-bottom: 26px;
  }
}
