.rating__text {
  display: inline-block;
  margin-right: 24px;
  font-size: 28px;
  line-height: 22px;
  font-family: $bold-font;
  color: #ffffff;

  &--dark {
    color: $headline-color;
  }
}

.rating__stars {
  display: inline;
  white-space: nowrap;
}

.rating__star {
  display: inline-block;
  width: 25px;
  height: 23px;
  background-image: url("../img/icon-rating-star.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &--small {
    width: 16px;
    height: 15px;
  }
}

////// r e s p o n s i v e //////

@media (max-width: 1199px) {
  .rating__text {
    font-size: 22px;
  }
}

@media (max-width: 499px) {
  .rating__text {
    font-size: 18px;
    margin-right: 0;
  }

  .rating__stars {
    display: block;
    margin-top: 12px;
  }
}
