.saloons {
  width: 100%;
  display: flex;
  align-items: stretch;
}

.saloons__loci {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  width: 500px;
}

.saloons__locus {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-right: 48px;
  padding-bottom: 27px;
  padding-left: 36px;
  background-color: #ffffff;

  &:hover {
    background-color: #fafafa;
    cursor: pointer;
  }
}

.saloons__input[type="radio"]:checked ~ .saloons__locus {
  background-color: #fafafa;
}

.saloons__item {
  padding-left: 43px;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 13px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 32px 32px;

  &--address {
    background-image: url("../img/icon-address.svg");
  }

  &--tel {
    background-image: url("../img/icon-tel.svg");
  }

  &--hours {
    background-image: url("../img/icon-hours.svg");
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.saloons__book {
  padding: 19px 38px;
  font-size: 16px;
}

.saloons__map {
  display: block;
  flex-basis: auto;
  flex-grow: 1;
  width: auto;
  min-height: 519px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
          background-image: url("../img/map@2x.jpg");
  }
}

////// r e s p o n s i v e //////

@media (max-width: 1199px) {
  .saloons__loci {
    width: 450px;
  }

  .saloons__locus {
    padding-right: 24px;
    padding-left: 24px;
  }

  .saloons__book {
    padding: 13px 30px;
  }
}

@media (max-width: 991px) {
  .saloons__loci {
    width: 280px;
  }

  .saloons__locus {
    flex-direction: column;
    align-items: flex-start;
  }

  .saloons__book {
    padding: 6px 24px;
    margin-top: 16px;
  }
}

@media (max-width: 768px) {
  .saloons {
    flex-wrap: wrap;
  }

  .saloons__loci,
  .saloons__map {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  .saloons__map {
    min-height: 319px;
  }

  .saloons__locus {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .saloons__info {
    margin-right: 20px;
  }

  .saloons__book {
    margin-top: 14px;
  }
}

@media (max-width: 420px) {
  .saloons__locus {
    justify-content: center;
  }
}
