.secret-shopper {
  padding-top: 98px;
  padding-bottom: 109px;
  color: #ffffff;
  text-align: center;
  background-color: $theme-color;
}

.secret-shopper__headline {
  margin-bottom: 23px;
  color: #ffffff;

  &::before {
    background-image: url("../img/icon-curl-white-left.svg");
  }

  &::after {
    background-image: url("../img/icon-curl-white-right.svg");
  }
}

.secret-shopper__subline {
  max-width: 570px;
  margin: 0 auto 50px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: center;
}

.secret-shopper__form {
  display: flex;
  justify-content: space-between;
}

.secret-shopper__inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 64%;
}

.secret-shopper__group {
  position: relative;
  width: 47%;
  min-width: 260px;
}

.secret-shopper__input {
  width: 100%;
  min-width: 260px;
  height: 60px;
  padding: 19px 38px;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 100px;
  outline: 0;
  z-index: 2;
}

.secret-shopper__label {
  position: absolute;
  top: 19px;
  left: 0;
  right: 0;
  z-index: 1;
  user-select: none;
  transition: all 0.1s ease-out;
}

.secret-shopper__input:focus ~ label {
  top: 0;
  font-size: 10px;
}

.secret-shopper__input:not([value=""]):not(:focus) ~ label,
.secret-shopper__input:valid ~ label {
  display: none;
}

.secret-shopper__submit {
  width: 32%;
  height: 60px;
  background-color: #232639;

  &:hover {
    background-color: darken(#232639, 3%);
  }

  &:focus,
  &:active {
    background-color: darken(#232639, 6%);
  }
}
