.secret-shopper {
  padding-top: 98px;
  padding-bottom: 109px;
  color: #ffffff;
  text-align: center;
  background-color: $theme-color;
}

.secret-shopper__headline {
  color: #ffffff;

  &::before {
    background-image: url("../img/icon-curl-white-left.svg");
  }

  &::after {
    background-image: url("../img/icon-curl-white-right.svg");
  }
}
